*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: flex; 
    flex-wrap: wrap; 
    justify-content: center;
    
}

.container-button{
    display: flex;
    justify-content: center;
}

.button{
    width: 100px;
    height: 50PX;
    border: 1px solid #000;
    border-radius: 20%;
    line-height: 1;
    text-align: center;
    background-color: #f1f1f1;
    cursor: pointer;  
}

.hoverImg{
    background-image: url(../img/yellow_lamp.png);
}

